# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME="CRM Admin"

# API
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_API_TIMEOUT=30000

# Auth
NEXT_PUBLIC_AUTH_TOKEN_KEY=crm_auth_token
NEXT_PUBLIC_AUTH_REFRESH_KEY=crm_refresh_token
